body{
	height: 2000px;
	padding-top: 50px;
}

/* NAVIGATION */

.navbar {
	margin-bottom: 0;
}

.navbar .container-fluid {
	width: 92%;
	margin: 0 auto;
}

.navbar .navbar-nav {
	margin-left: 53px;
}

.navbar .navbar-header .navbar-brand,
.navbar .navbar-nav li a {
	line-height: 40px;
}

/* SIDEBAR */
